
#slogan{
    margin-top: 2em;
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 3em;
    background-color: #f63e02;
    text-align: left;
    display: flex;
}

#zdjecie{
    display: flex;
    width: 48%;
    height: auto;
    border-radius: 3em;
}

#zdjecie img{
    width: 100%;
    height: auto;
    border-radius: 3em;
}

#img2{
    position: relative;
    left: -100%;
    z-index: 1;
    
}

#img1{
    z-index: 2;
    transition: opacity 2s ease-in-out;
}

#img1:hover{
    opacity: 0;
}

#zdj_tekst{
    display: block;
    text-align: center;
    width: 48%;
    color: #ffffff;
    text-transform: uppercase; 
    margin: auto;
}

#zdj_tekst a{
    color: #ffffff;
    text-transform: uppercase; 
    text-decoration: none;
}
#zdj_tekst a:hover{
    color: #f3b700;
    text-decoration: none;
}

#Wikipedia
{
    width: 40%;
    margin-top: 4em;
    margin-left: 30%;
    margin-right: 30%;
    box-shadow: inset 0 0 1em gold, 0 0 1em #f63e02;
}
details
{
    text-align: center;
    font-size: 100%;

}
body
{
    background-color: #ffffff;
    text-align: center;
}

#podsumowanie:active
{
    color: red;
}


.multicolumn{
    margin-top: 4em;
    margin-bottom: 4em;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 30px;;
    -moz-column-gap: 30px;
    column-gap: 30px;
    -webkit-column-rule: 1px outset black;
    -moz-column-rule: 1px outset black;
    column-rule: 1px outset black;
}


@media(max-width: 960px){
    .multicolumn{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media(max-width: 480px){
    .multicolumn{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #f63e02;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
button:hover {background-color: #df600c}

button:active {
    background-color: #df600c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }  
.dark-mode {
    background-color: black;
    color: white;
}